body {
  background-color: #ffcc00;
  margin: 0;
}

h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}

.content {
  background-color: #fff;
  padding: 1rem;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 4rem;
}
